include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/1park
		include ../common/2calc
		include ../common/3services
		include ../common/4doc
		include ../common/5team
		include ../common/6consult
		include ../common/footer
		include ../common/modal
	// END body