.footer {
    padding: 159px 0 59px;
    padding: 49px 0;
    background: rgba(0, 0, 0, 0.534) url('../img/footer-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    a {
        &:hover {
            
            color: #E9C154;
            background: linear-gradient(to top, #E9C154, #fceabb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__title {
        margin-bottom: 17px;
        font-weight: 500;
    }
    &__items {
        margin-right: 35%;
    }
    &__item {
        display: flex;
        align-items: center;
        a {
            display: block;
            padding: 7px 0;
            color: #E9C154;
            background: linear-gradient(to top, #E9C154, #fceabb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:hover {
                opacity: 0.6;
            }
        }
        span {
            display: block;
            padding: 7px 0;
            color: #E9C154;
            background: linear-gradient(to top, #E9C154, #fceabb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__icon {
        margin-right: 9px;
    }

    &__bottom {
        padding: 62px 0 0;
    }

    &__menu {
        display: flex;
        ul {
            display: flex;
            justify-content: center;
            white-space: nowrap;
    
        }
        a {
            color: #fff;
            display: block;
            padding: 7px 0;
        }
    }
    &__develop {
        color: #fff;
        text-decoration: underline;
    }
}
