
@import "tools/_normalize.scss";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 14px;
	line-height: 17px;
	min-width: 320px;
	position: relative;
	font-family: 'Rubik', Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	color: #5F5F68;
	// background: #E5E5E5;
	input, textarea {
		width: 100%;
		padding: 0 0 7px 0;
		border: none;
		border-bottom: 1px solid #A3A3A3;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
		&::placeholder {
			color: #8F8F8F;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.wrap {
	max-width: 1680px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: $text;
	-webkit-transition: all.6s ease; 
	-moz-transition: all.6s ease;
	-ms-transition: all.6s ease; 
	-o-transition: all.6s ease; 
	transition: all.6s ease;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		-webkit-transition: all.1s ease; 
		-moz-transition: all.1s ease;
		-ms-transition: all.1s ease; 
		-o-transition: all.1s ease; 
		transition: all.1s ease;
	};
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.primary-text {
	// font-family: $second-font;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 4px;
}
.title {
	font-size: 36px;
	line-height: 43px;
	color: #333;
	padding-bottom: 15px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 40px;
	span {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 100%;
			height: 8px;
			background: #E9C154;
			background: linear-gradient(179.79deg, #FCEABB -65.74%, #E9C154 95.96%);
			border-radius: 2px;
		}
	}
}
.title-section {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #333;
	margin-top: 0;
	margin-bottom: 34px;
}
.subtitle {
	max-width: 364px;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 30px;
}
.btn {
	position: relative;
	display: inline-block;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	padding: 17px;
	margin-top: 20px;
	transition: 0.5s;
	cursor: pointer;
	background: transparent;
	border: 1px solid $accent;
	min-width: 370px;
	text-align: center;
	border-radius: 5px;
	@media only screen and (max-width: 992px) {
		min-width: 51%;
	}
	@media only screen and (max-width: 479px) {
		min-width: auto;
		width: 100%;
	}
	&:hover {
		background-color: #ECC866;
		box-shadow: 0px 0px 10px #FFFFFF;
		color: #000;
	}
	&--yellow {
		background: linear-gradient(180deg, #FCEABB -89.29%, #E9C154 100%), #FFFFFF;
		&:hover {
			box-shadow: 0px 0px 10px #FFFFFF;
		}
	}
	&--outline {
		color: $accent;
		&:hover {

		}
	}
}

@import "sections/header";
@import "sections/1park";
@import "sections/2calc";
@import "sections/3services";
@import "sections/4doc";
@import "sections/5team";
@import "sections/6consult";

@import "sections/footer";

@import "media"; // Always at the end
