section.calc#calc
    .container
        .calc__wrap
            .row
                .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                    .calc__pic
                .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                    .calc__form
                        h2.title-section Рассчитать стоимость доставки груза
                        .subtitle Оставьте вашу информацию, мы рассчитаем стоимость и сообщим вам.
                        form
                            // Hidden Required Fields
                            input(type='hidden', name='project_name', value='Грузоперевозки')
                            input(type='hidden', name='admin_email', value='mcompaincev@gmail.com')
                            input(type='hidden', name='form_subject', value='Рассчитать стоимость')
                            // END Hidden Required Fields
                            .form-line
                                input(type="text" placeholder="Ваше имя" name="Имя" required).rfield
                            .form-line
                                input(type="text" placeholder="Ваш телефон*" name="Телефон" required).phone-mask.rfield
                            .form-line
                                input(type="text" placeholder="Адрес пункта отправления" name="Адрес пункта отправления" required).rfield
                            .form-line
                                input(type="text" placeholder="Адрес пункта назначения" name="Адрес пункта назначения" required).rfield
                            .form-line
                                input(type="text" placeholder="Информация о грузе (название,вес)" name="Информация о грузе (название,вес)" required).rfield
                            .form-line
                                label.checkbox
                                    input(type="checkbox" name="Погрузка")
                                    .input__text Погрузка
                                label.checkbox
                                    input(type="checkbox" name="Выгрузка")
                                    .input__text Выгрузка
                                label.checkbox
                                    input(type="checkbox" name="Сборка мебели")
                                    .input__text Сборка мебели
                            div(data-modal="#modalConsult").btn.calc__btn.kviz__btn 
                                input(type='submit', value='Узнать стоимость доставки') 
