section.services#services
    .container
        .row
            .col-12
                h2.title 
                    span Услуги
                .subtitle Помимо грузоперевозки, наша компания предостовляет клиентам ряд мувинговых услуг.
        .row
            .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12.services__item
                .services__item-wrap
                    .services__pic
                        img(src="img/trolley.svg", alt="trolley")
                    .services__title Погрузка и разгрузка
                    .services__text Организация выноса мебели, бытовой, домашней и офисной техники из дома, квартиры, любого здания, гаража или склада. Погрузка и грамотное размещение в кузове автомобиля. <br>Разгрузка автомобиля и перемещение грузов до места их хранения или использования
            .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12.services__item 
                .services__item-wrap
                    .services__pic
                        img(src="img/toolbox.svg", alt="toolbox")
                    .services__title Частичная и полная разборка мебели
                    .services__text Демонтаж мебели или техники. Разборка мебели -  частичная  (фасады, дверцы, полки, подушки, подлокотники) или полная (до составляющих частей)
            .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12.services__item 
                .services__item-wrap
                    .services__pic
                        img(src="img/wardrobe.svg", alt="wardrobe")
                    .services__title Сборка мебели после доставки до места
                    .services__text Сборка бывшей в употреблении, и предварительно разобранной мебели или новой мебели доставленной из магазина, с помощью наших инструментов 
            .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12.services__item 
                .services__item-wrap
                    .services__pic
                        img(src="img/stock.svg", alt="stock")
                    .services__title Упаковка мебели для безопасной транспортировки
                    .services__text Организация  мягкой упаковки, для дополнительной безопасности транспортировки. Стрейч пленка, воздушно-пупырчатая упаковка, скотч, картон, картонные коробки
        .row
            .col-12
                .services__info Подробности уточняйте по телефону: 8-960-491-97-32