section.doc
    .container
        .row
            .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                h2.title-section.doc__title
                    .doc__icon 
                        img(src="img/icons/contract.svg", alt="contract")
                    | С документам всё в порядке!
                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nisi magna augue velit proin faucibus purus posuere. Molestie tempus ornare cursus faucibus tincidunt tempus. Ornare sapien nulla consectetur lectus erat
            .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                .doc__items
                    .doc__item
                        img(src="img/doc1.jpg", alt="doc")
                    .doc__item
                        img(src="img/doc2.jpg", alt="doc")
