section.team
    .container
        .row
            .col-12
                h2.title 
                    span Наша команда
                .subtitle Команда профессионалов, готовая взяться за ваш заказ, и выполнить его на высшем уровне!
        .row
            .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12.services__item
                .team__item
                    .team__pic
                        img(src="img/team1.jpg", alt="team")
                    .team__title Компаинцев М. В.
                    .team__text Руководитель
            .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12.services__item
                .team__item
                    .team__pic
                        img(src="img/team2.jpg", alt="team")
                    .team__title Компаинцев М. В.
                    .team__text Водитель
            .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12.services__item
                .team__item
                    .team__pic
                        img(src="img/team3.jpg", alt="team")
                    .team__title Компаинцев М. В.
                    .team__text Водитель
            .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12.services__item
                .team__item
                    .team__pic
                        img(src="img/team4.jpg", alt="team")
                    .team__title Компаинцев М. В.
                    .team__text Оператор