footer.footer
    .container
        .row
            .col-xl-5.col-lg-5.col-md-5.col-sm-5.col-12
                .footer__info
                    .footer__title Контактная информация
                    .footer__item
                        .footer__icon
                            img(src="img/icons/phone.svg", alt="phone")
                        a(href="tel:+89604919732").ya-phone 8-960-491-97-32
                    .footer__item
                        .footer__icon
                            img(src="img/icons/mail.svg", alt="mail")
                        a(href="mailto:mihail2077@yandex.ru") mihail2077@yandex.ru
                    .footer__item
                        .footer__icon
                            img(src="img/icons/man.svg", alt="man")
                        span ИП Компаинцев М.В.
            .col-xl-7.col-lg-7.col-md-7.col-sm-7.col-12
                .footer__title Меню навигации
                .footer__menu
                    .footer__items
                        a(href="#park").scroll-to Автопарк
                        a(href="#services").scroll-to Услуги
                        a(href="#calc").scroll-to Стоимость
                    .footer__items
                        a(href="#team").scroll-to Команда
                        a(href="#doc").scroll-to Документы
                        a(href="#consult").scroll-to Консультация
        .footer__bottom
            .row
                .col-xl-5.col-lg-5.col-md-3.col-sm-12.col-12 2006 - 2020
                .col-xl-4.col-lg-3.col-md-4.col-sm-12.col-12 Все права защищены
                .col-xl-3.col-lg-4.col-md-5.col-sm-12.col-12
                    a(href="https://vk.com/lebowsky97").footer__develop По вопросам разработки сайтов
script(src="js/scripts.min.js")
script(src="js/common.js")
