footer.footer
    .wrap
        .footer__left
            .footer__logo name
            .rights © 2018 Name, All rights reserved
        .footer__menu
            ul
                li
                    a(href="#") 1



script(src="js/scripts.min.js")
script(src="js/common.js")
