header
	.overlay
	.header
		.nav
			.container
				.row
					.col-xl-3.col-lg-3.col-md-6.col-sm-6.logo
						.logo__text ИП Компаинцев М. В.
					.col-xl-6.col-lg-6.col-md-0.menu-wrap
						.menu-toggle 
							.one
							.two
							.three
						nav.main-menu 
							ul
								li
									a(href="#park").scroll-to Автопарк
								li
									a(href="#services").scroll-to Услуги
								li
									a(href="#calc").scroll-to Стоимость
								li
									a(href="#team").scroll-to Команда
								li
									a(href="#doc").scroll-to Документы
					.col-xl-3.col-lg-3.col-md-6.col-sm-6.contacts
						a(href="tel:89604919732").contacts__phone.ya-phone 
							span.contacts__icon
								img(src="img/icons/phone.svg", alt="phone")
							| 8-960-491-97-32
						.contacts__text Звоните с 7:00 до 23:00
		.container
			.row
				.col-xl-6.col-lg-6.col-12
					.header__title Грузоперевозки 
					.header__subtitle всех типов грузов <br>от 100 кг до 15 тонн
					.header__pre Быстро. Недорого. Аккуратно.
					a(href="tel:+89604919732").btn.btn--yellow.ya-phone Позвонить
					a(href="#modalBack").btn.btn--outline.modal-open Обратный звонок
			.row 
				.col-12
					.header__goods-title Мы перевозим всё!
					.header__goods
						.header__item
							.header__img
								img(src="img/007-furniture.svg", alt="furniture")
							.header__text Домашний переезд
						.header__item
							.header__img
								img(src="img/002-parquet.svg", alt="parquet")
							.header__text Строительные материалы
						.header__item
							.header__img
								img(src="img/006-detergent.svg", alt="detergent")
							.header__text Перевозка бытовой химии
						.header__item
							.header__img
								img(src="img/005-workspace.svg", alt="workspace")
							.header__text Офисный переезд
						.header__item
							.header__img
								img(src="img/001-diet.svg", alt="diet")
							.header__text Перевозка продуктов питания

