#modalFinish.modal.disabled
    .modal__wrap.animated.fadeInDown    
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal__title Спасибо!
            .modal__subtitle Наш оператор вам скоро позвонит
#modalConsult.modal.disabled
    .modal__wrap.animated.fadeInDown    
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal__title Спасибо!
            .modal__subtitle Мы проведем примерный расчёт и перезвоним вам
#modalBack.modal.disabled
    .modal__wrap.animated.fadeInDown
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal__title Введите номер
            .modal__subtitle Мы вам перезвоним
            .modal__form
                form
                    // Hidden Required Fields
                    input(type='hidden', name='project_name', value='Грузоперевозки')
                    input(type='hidden', name='admin_email', value='mcompaincev@yandex.ru')
                    input(type='hidden', name='form_subject', value='Обратный звонок')
                    // END Hidden Required Fields
                    .form-line
                        input(type="text" placeholder="Ваше имя" name="Имя" required).rfield
                    .form-line
                        input(type="text" placeholder="Ваш телефон*" name="Телефон" required).phone-mask.rfield
                    p Отправляя заявку, я соглашаюсь на обработку персональных данных, в соответствии с политикой конфиденциальности.
                    input(type='submit', value='Отправить').btn.btn--yellow.btnFinish.kviz__btn 
                    

